{% extends 'base.html.twig' %}

{% block title %}
	listes sous compétence
{% endblock %}
{% block body %}
	<div class="container">
		<h1>
			Compétence :
			<br>
			{{skill.name}}
		</h1>
		<table class="table table-striped">
			<thead>
				<td>Nom</td>
				<td>Numéro</td>
				<td>Commentaire</td>
				<td>
					Modifier la sous-compétence</td>
				<td>
					Supprimer la sous-compétence</td>
			</thead>

			<tbody>
				{% for subskill in skill.subskills %}
					<tr>
						<td>{{subskill.name}}</td>
						<td>{{subskill.number}}</td>
						<td>
							{% if subskill.comments != null %}
								{{subskill.comments}}
							{% else %}
								<i>
									<b>
										<u>
											PAS DE COMMENTAIRE
										</u>
									</b>
								</i>
							{% endif %}
						</td>
						<td>
							<a class="btn btn-warning" href="{{path('updateSubSkill',{'id':subskill.id})}}">
								Modifier la sous-compétence</a>
						</td>
						<td>
							<a class="btn btn-danger" href="{{path('deleteSubSkill',{'id':subskill.id})}}">
								Supprimer sous-compétence</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>

	</table>
	<br><hr>
	<a class="btn btn-primary" href="{{path('createSubSkill',{'id':skill.id})}}">
		Ajouter sous compétence</a>
	<a class="btn btn-secondary" href="{{path('accueilSkill')}}">
		Revenir à la liste des compétences</a>
</div>{% endblock %}