{% extends 'base.html.twig' %}

{% block title %}
	Gestion skill et subskill
{% endblock %}
{% block body %}
	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Modification sous-compétence</div>
	</div>
	<div class="container">
		<div class="row">
			{{ form_start(form)}}

			Nom de la sous-compétence :
			{{ form_widget(form.name)}}
			Numéro de sous-compétence :
			{{ form_widget(form.number)}}

			<div class="row">
				<div class="col">
					<br>
					<hr>
					<button type="submit" class="btn btn-primary">
						mettre à jour la sous-compétence</button>
					{{ form_end(form)}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<br>
					<hr>

					<a class="btn btn-secondary" href="{{path('accueilSubSkill',{'id':skill.id})}}">
						Revenir à la liste de sous-compétences</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}