<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	{% block body %}
		<body>
			{% if utilisateur.role == "ADMINISTRATEUR" %}
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">Projet Stage</a>
						</div>
						<ul class="nav navbar-nav">
							<li class="active">
								<a name="Accueil" href="{{ path('home',{'Utilisateur':utilisateur.nom, 'role':utilisateur.role}) }}">Accueil</a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Etudiant
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ path('etudiantManuellement',{'Utilisateur':utilisateur.nom, 'role':utilisateur.role}) }}">
											Ajouter un étudiant</a>
									</li>
									<li>
										<a href="{{ path('etudiantImport',{'Utilisateur':utilisateur.nom, 'role':utilisateur.role})}}">Importer une liste d'étudiants</a>
									</li>
									<li>
										<a href="{{ path('etudiantListe', {'Utilisateur':utilisateur.nom, 'role':utilisateur.role})}}">Consulter la liste d'étudiants</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Referent
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ path('referentAjout',{'Utilisateur':utilisateur.nom, 'role':utilisateur.role}) }}">
											Ajouter un référent</a>
									</li>
									<li>
										<a href="{{ path('referentListe',{'Utilisateur':utilisateur.nom, 'role':utilisateur.role}) }}">
											onsulter la liste des référents</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="#">Enseignant</a>
							</li>
							<li>
								<a href="#">Maitre de stage</a>
							</li>
							<li>
								<a href="#">Secrétariat</a>
							</li>
							<li>
								<a href="#">Direction</a>
							</li>
							<li>
								<a href="#">Compétences</a>
							</li>
						</ul>
					</div>
				</nav>
			{% endif %}

		</body>
	{% endblock %}
</head>
