{% extends 'base.html.twig' %}

{% block title %}Liste des stages
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste de stages</h1>
		<table class="table table-striped">
			<thead>
				<td>Domaine</td>
				<td>Lieu</td>
				<td>Section / Sous-section</td>
				<td>Bloc</td>
				<td>Période de stage</td>
				<td>Année académique</td>
				<td>Consulter les données du stage</td>
				{% if is_granted('ROLE_ADMIN') %}
			
				<td>Attribuer des compétences</td>
				<td>Nommer le(s) référent(s) à ce stage</td>
				<td>Modifier le stage</td>
				<td>Supprimer le stage</td>
				{% endif %}
			</thead>
			<tbody>
				<tr>
					{% for intership in interships %}
						{% if intership.applicationField.parent.type != "sub_section" %}
							<td >{{intership.applicationField.parent.parent.parent.parent.name}}</td>
							
							<td>{{intership.applicationField.parent.parent.name}}</td>
							<td>
								{{intership.applicationField.parent.name}}</td>
						{% else %}
							<td>{{intership.applicationField.parent.parent.parent.parent.parent.name}}</td>
							
							<td>{{intership.applicationField.parent.parent.parent.name}}</td>
							<td>{{intership.applicationField.parent.parent.name}}
								/
								{{intership.applicationField.parent.name}}</td>

						{% endif %}
						<td>{{intership.applicationField.name}}</td>
						<td>{{intership.firstDay | date("d/m/Y")}}
							-
							{{intership.lastDay | date("d/m/Y") }}</td>
						<td>{{intership.ansco}}</td>
						<td><a class='btn btn-success' href="{{path('viewIntership',{'id':intership.id})}}">Consulter les données du stage</a></td>
						{% if is_granted('ROLE_ADMIN') %}
			
						{% if date < intership.firstday %}
						<td><a class="btn btn-success" href="{{path('skillIntership',{'id':intership.id})}}">Attribuer des compétences</a></td>
						<td><a class="btn btn-success"href="{{path('referentIntership',{'id':intership.id})}}" >Nommer les référents à ce stage</a></td>
						<td><a class="btn btn-success" href="{{path('updateIntership',{'id':intership.id})}}">Modifier le stage</a></td>
						<td><a class="btn btn-warning" name="delete"id="{{intership.id}}">Supprimer le stage</a></td>
						{% else %}
						<td><b> Vous ne pouvez pas attribuer de compétences</b></td>
						<td><b> Vous ne pouvez pas nommer les référents</b></td>
							<td><b>Stage Non Modifiable</b></td>
							<td><b>Stage Non Supprimable</b></td>
						{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>{% if is_granted('ROLE_ADMIN') %}
			
	<a class="btn btn-warning" href="{{path('createIntership')}}">Créer un stage</a>{% endif %}
</div>{% endblock %}
{% block javascripts %}
{{parent()}}<script>
	$(document).ready(function () {
		$("a").each(function(){
			$(this).click(function(){
				var classBtn=$(this).attr('name')
		
				if(classBtn =="delete"){
					var intership = $(this).attr('id')
					    		if(confirm('Voulez-vous supprimer ce stage ? ')){
				$.ajax({
url: "/intership/delete",
type: 'get',
data: {
'intership':intership
},
cache: false,
datatype: 'json',
success: function (data, status) {},
error: function () {}
});
location.reload()
			}
			else{
				
			}

				}
		});
	})


});
</script>{% endblock %}