{% extends 'base.html.twig' %}

{% block title %}Attribuer les compétences à ce stage
{% endblock %}
{% block body %}
	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Attribuer les compétences à ce stage</div>
	</div>
	<table class="table table-striped">
		<thead>
			<td>Nom de compétence</td>
			<td>Domaine</td>
			<td>Numéro de compétence</td>
			<td>Ajouter / Supprimer la compétence de la grille</td>
		</thead>

		<tbody>
			{% for skill in skills%}
				<tr>
					<td>{{skill.name}}</td>
					<td>{{skill.domain.name}}</td>
					<td>{{skill.skillNumber}}</td>
					<td>
						{% if skill in intership.skills %}
							<a name="removing" class="btn btn-success" href="{{path('unsetSkill',{'id':skill.id,'idIntership':intership.id})}}">Supprimer</button>
						{% else %}

							<a name="adding" class="btn btn-success" href="{{path('setSkill',{'id':skill.id,'idIntership':intership.id})}}">Ajouter</button>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	{% endfor %}
</table>{% endblock %}