{% extends 'base.html.twig' %}

{% block title %}Attribuer les compétences à ce stage
{% endblock %}
{% block body %}
	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Attribuer les compétences à ce stage</div>
	</div>
	<table class="table table-striped">
		<thead>
			<td>Nom de compétence</td>
			<td>Domaine</td>
			<td>Numéro de compétence</td>
			<td>Ajouter / Supprimer la compétence de la grille</td>
		</thead>

		<tbody>
			{% for skill in skills%}
				<tr>
					<td>{{skill.name}}</td>
					<td>{{skill.domain.name}}</td>
					<td>{{skill.skillNumber}}</td>
					<td>
						{% if skill in intership.skills %}
							<a class="btn btn-success" name="removing" id="{{skill.id}}">Supprimer</button>
						{% else %}

							<button class="btn btn-success" name="adding" id="{{skill.id}}">Ajouter</button>
						{% endif %}

						<button name="removing" class="{{skill.id}}">Supprimer</button>
						<button name="adding" class="{{skill.id}}">Ajouter</button>
					</td>
				</tr>
			</td>
		</tbody>
	{% endfor %}
</table>{% endblock %}{% block javascripts %}
{{parent()}}<script>
	$(document).ready(function () {
hidebtn()
$("a").each(function () {
console.log('hello')
$(this).click(function () {

var skill = $(this).attr('id')
switchbtn(skill);
});
});
});

function switchbtn(skill) {
$('#' + skill + '').hide()
if ($('.' + skill + '[name="adding"]').is(":visible")) {
$('.' + skill + '[name="adding"]').hide()
$('.' + skill + '[name="removing"]').show()

$.ajax({
url: "/intership/deleteSkill",
type: 'get',
data: {
'skill': skill,
'intership': {{ intership.id }}
},
cache: false,
datatype: 'json',
success: function (data, status) {
alert("success");
},
error: function () {}
});
} else {
$.ajax({
url: "/intership/addSkill",
type: 'get',
data: {
'skill': skill,
'intership': {{ intership.id }}
},
cache: false,
datatype: 'json',
success: function (data, status) {
alert("success");
},
error: function () {}
});
}

}
function hidebtn() {
console.log('ici')
$('button').hide();
}
</script>{% endblock %}