{% extends 'base.html.twig' %}

{% block title %}Création d'un stage
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1>Création stage</h1>
			<form method="POST">
				<table class="table table-striped">
					<thead>
						<td>Début de stage</td>
						<td>Fin de stage</td>

					</thead>
					<tbody>
						<td><input type="date" name="first" class="input-group date" value="{{intership.firstday|date('Y-m-d')}}" id="first"/></td>
						<td><input type="date" name="end" class="input-group date"value="{{intership.lastday|date('Y-m-d')}}" id="end"/></td>
					</tbody>
				</tbody>
			</table>


			<select id="selectDomain">
				<option value="0">Veuillez choisir un Domaine</option>
				{% for appli in applis %}
					{% if appli.type == "category" %}
						<option value="{{appli.id}}">{{appli.name}}</option>
					{% endif %}
				{% endfor %}
			</select>
			<select id="selectDepartment"></select>


			<select id="selectLieu"></select>
			<select id="selectSection"></select>
			<select id="selectSubSection"></select>
			<select id="selectBloc" name="selectBloc"></select>
			<button type="submit" id="btnSubmit" class="btn btn-success">
				Modifier stage</button>
		</form>
	</div>
	<div class="row">
		<div class="col"><br>
			<hr>
			<a class="btn btn-secondary" href="{{path('intership')}}">
				Revenir à la liste de stages
			</a>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{parent()}}<script>
	$(document).ready(function () {
var conditionTrue = 0;

hide();
// When you choose a domain
$("#selectDomain").change(function () {
conditionTrue = 0;
$("#selectDepartment").empty();
hide();
$("#selectDepartment").append(new Option("Veuillez choisir un département", 0));{% for appli in applis %}{% if appli.parent != null %}if ("{{ appli.parent.id }}" == $("#selectDomain").val()) {
$("#selectDepartment").show();
conditionTrue = 1;
$("#selectDepartment").append(new Option("{{ appli.name }}", "{{ appli.id }}"));
}
{% endif %}
{% endfor %}
if (conditionTrue == 0) {
$("#selectDepartment").hide();
}
});

// when you choose a department
$("#selectDepartment").change(function () {
conditionTrue = 0;
$("#selectLieu").empty();

hide();
$("#selectDepartment").show();
$("#selectLieu").append(new Option("Veuillez choisir un lieu", 0));{% for appli in applis %}{% if appli.parent != null %}if ("{{ appli.parent.id }}" == $("#selectDepartment").val()) {
$("#selectLieu").show();
conditionTrue = 1;
$("#selectLieu").append(new Option("{{ appli.name }}", "{{ appli.id }}"));
}
{% endif %}
{% endfor %}
if (conditionTrue == 0) {
$("#selectLieu").hide();
}
});

// when you choose a place
$("#selectLieu").change(function () {
$("#selectSection").empty();
hide();
$("#selectSection").append(new Option("Veuillez choisir une section", 0));
$("#selectDepartment").show();
$("#selectLieu").show();{% for appli in applis %}{% if appli.parent != null %}if ("{{ appli.parent.id }}" == $("#selectLieu").val()) {
$("#selectSection").show();
$("#selectSection").append(new Option("{{ appli.name }}", "{{ appli.id }}"));
}
{% endif %}
{% endfor %}
if (conditionTrue == 0) {
$("#selectSection").hide();
}
});

// when you choose a section
$("#selectSection").change(function () {
$("#selectSubSection").empty();
$("#selectBloc").empty();

$("#selectSubSection").append(new Option("Veuillez choisir une sous-section", 0));

$("#selectBloc").append(new Option("Veuillez choisir un bloc", 0));
hide();
$("#selectDepartment").show();
$("#selectLieu").show();
$("#selectSection").show();{% for appli in applis %}{% if appli.parent != null %}if ("{{ appli.parent.id }}" == $("#selectSection").val()) {

conditionTrue = 1;
if ("{{ appli.type }}" == "sub_section") {

$("#selectSubSection").show();
$("#selectSubSection").append(new Option("{{ appli.name }}", "{{ appli.id }}"));
} else {

$("#selectBloc").show();
$("#selectBloc").append(new Option("{{ appli.name }}", "{{ appli.id }}"));
}
}
{% endif %}
{% endfor %}
if (conditionTrue == 0) {
$("#selectSubSection").hide();
$("#selectBloc").hide();
}
});

// when you choose a subsection
$("#selectSubSection").change(function () {
$("#selectBloc").empty();
hide();
$("#selectDepartment").show();
$("#selectLieu").show();
$("#selectSection").show();

$("#selectSubSection").show();
$("#selectBloc").append(new Option("Veuillez choisir un bloc", 0));{% for appli in applis %}{% if appli.parent != null %}if ("{{ appli.parent.id }}" == $("#selectSubSection").val()) {
conditionTrue = 1;


$("#selectBloc").show();
$("#selectBloc").append(new Option("{{ appli.name }}", "{{ appli.id }}"));

}
{% endif %}
{% endfor %}
if (conditionTrue == 0) {
$("#selectBloc").hide();
}
});

// when you choose a bloc
$("#selectBloc").change(function () {

$("#btnSubmit").show();

});
$("#btnSubmit").click(function () {
click();
});
});


function click() {

if ($("#first").val() < $('#end').val()) {
var $data;
console.log($("#selectBloc").val());
$data = ({'idAppli': $("#selectBloc").val(), 'end': $('#end').val(), 'first': $("#first").val()});

jsonString = JSON.stringify({$data});
$.ajax({
type: "POST",
url: "{{ path('createIntership') }}",
data: "data=" + jsonString

});

}

}
function hide() {
$("#selectDepartment").hide();
$("#selectLieu").hide();
$("#selectSection").hide();
$("#selectSubSection").hide();
$("#selectBloc").hide();
$("#btnSubmit").hide();
}
</script>{% endblock %}