{% extends 'base.html.twig' %}

{% block title %}Evaluation
{% endblock %}
{% block body %}
	<p class="h1">Evaluation de
		{{cotation[0].user.lastname}}
		{{cotation[0].user.firstname}}
	</p>
	<table class="table table-striped">
		<thead>
			<td>Numéro de la compétence / sous-compétence</td>
			<td>Nom de la compétence / sous-compétence</td>
			<td>Cotation</td>
		</thead>

		<tbody>
			{% for skill in skills%}
				{% set indexSkill = loop.index0 %}
				<tr>
					<td>
						<u>
							<i>
								<b>{{skill.skillNumber}}</b>
							</i>
						</u>
					</td>
					<td>
						<u>
							<i>
								<b>{{skill.name}}</b>
							</i>
						</u>
					</td>
				</tr>

				{% for subskill in skill.subSkills %}
					<tr>
						{% set indexSubSkill = loop.index0 %}
						<td>{{skill.skillNumber}}.{{subskill.number}}</td>
						<td>{{subskill.name}}</td>
						{% for cot in cotation %}
							{% if loop.index0 == indexSubSkill + indexSkill %}
								<td>
									<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
										<option selected disabled>Evaluer la compétence</option>
										<option value="1" onclick="value({{indexSubSkill}},{{indexSkill}},1)">NA--</option>
										<option value="2" onclick="value({{indexSubSkill}},{{indexSkill}},2)">NA-</option>
										<option value="3" onclick="value({{indexSubSkill}},{{indexSkill}},3)">A+</option>
										<option value="4" onclick="value({{indexSubSkill}},{{indexSkill}},4)">A++</option>
									</select>
									<button class="test" onclick="">test</button>
									{{ dump (cotation[indexSubSkill + indexSkill].user) }}
								{% endif %}
							</td>
						{% endfor %}

					</tr>
				{% endfor %}
			</tbody>
		{% endfor %}
	</table>
	<a class="btn btn-secondary" href="{{path('evaluationCreated')}}">sauvegarder la cotation</a>
{% endblock %}