{% extends 'base.html.twig' %}

{% block title %}Evaluation de
	{{student.lastname}}
	{{student.firstname}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<h1>
				<u>
					Evaluation de
					{{student.lastname}}
					{{student.firstname}}
				</u>
			</h1>


			{% for skill in skills%}
				{% set indexSkill = loop.index0 %}

				<h2>
					Compétence :
					{{skill.name}}
				</h2>


				<table class="table table-striped">
					<thead>
						<td>Numéro de la compétence / sous-compétence</td>
						<td>Nom de la compétence / sous-compétence</td>
						<td>Cotation</td>
					</thead>

					<tbody>
						{% for subskill in skill.subSkills %}
							<tr>

								<td>{{subskill.skill.skillNumber}}.{{subskill.number}}</td>
								<td>
									{{subskill.name}}</td>

								<td>
									<select class="form-select form-select-lg mb-3" id="{{subskill.id}}" aria-label=".form-select-lg example">
										<option selected disabled value="0">Evaluer la compétence</option>
										<option value="1">NA--</option>
										<option value="2">NA-</option>
										<option value="3">A+</option>
										<option value="4">A++</option>
									</select>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				<div class="form-group green-border-focus">
					<label for="exampleFormControlTextarea5">Commentaire sur la compétence :
						{{skill.name}}</label>
					<textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
					<br>
				</div>
				<hr style="height:4px;border-width:0;color:blue;background-color:red">
				<br>

			{% endfor %}
		</div>
	</div>
{% endblock %}