{% extends 'base.html.twig' %}

{% block title %}Evaluation
{% endblock %}
{% block body %}
	<p class="h1">Evaluation de
		{{student.lastname}}
		{{student.firstname}}
	</p>
	<table class="table table-striped">
		<thead>
			<td>Numéro de la compétence / sous-compétence</td>
			<td>Nom de la compétence / sous-compétence</td>
			<td>Cotation</td>
		</thead>

		<tbody>
			{% for skill in skills%}

				<tr>
					<td>
						<u>
							<i>
								<b>{{skill.skillNumber}}</b>
							</i>
						</u>
					</td>
					<td>
						<u>
							<i>
								<b>{{skill.name}}</b>
							</i>
						</u>
					</td>
				</tr>

				{% for subskill in skill.subSkills %}
					<tr>
						<td>{{skill.skillNumber}}.{{subskill.number}}</td>
						<td>{{subskill.name}}</td>
						<td>
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
								<option selected disabled>Evaluer la compétence</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
								<option value="1">One</option>
								<option value="2">Two</option>
							</select>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endfor %}
	</table>
{% endblock %}