{% block stylesheets %}
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}
	<br>
	<div class="container">


		<div class="row">
			<div class="form-group green-border-focus">
				<h3>
					<label for="exampleFormControlTextarea5">Nom et prénom de l'étudiant :
						{{student.firstName}}
						{{student.lastName}}
					</label>
				</h3>

				<br>
			</div>
			<div class="form-group green-border-focus">
				<h3>
					<label for="exampleFormControlTextarea5">Sujet d'évaluation :
						{{evaluation.subject}}
					</label>
				</h3>

				<br>
			</div>
			<table class="table table-striped">
				<thead>
					<td>Numéro de la compétence</td>
					<td>Nom de la sous-compétence</td>
					<td>Cotation</td>
				</thead>

				<tbody>
					{% for cotation in cotations %}
						{% set index = 0 %}
						<tr>
							{% if index != 0 %}
								<tr>
								{% endif %}
								<td rowspan={{cotation.subskillcotation|length}}>C{{cotation.skill.skillNumber}}
									:
									{{cotation.skill.name}}</td>
								{% for subcotation in cotation.subskillcotation %}
									{% set index = loop.index %}
									<td>{{subcotation.subskill.name}}</td>


									<td>
										{% if subcotation.cotation == 1 %}
											NA--
										{% else %}
											{% if subcotation.cotation == 2 %}
												NA-
											{% else %}
												{% if subcotation.cotation == 3 %}
													A+
												{% else %}
													A++
												{% endif %}
											{% endif %}
										{% endif %}
									</td>
									{% if index != cotation.subskillcotation|length %}
									</tr>
								{% endif %}
							{% endfor %}
						</tr>
						<tr>
							<td colspan="3">Commentaire :
								{% if cotation.comments == "" or cotation.comments == null %}
									Pas de commentaire pour cette compétence.
								{% endif %}
								{{cotation.comments}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="form-group green-border-focus">
				<label for="exampleFormControlTextarea5">Commentaire Global</label>
				<textarea class="form-control" name="{{evaluation.id}}" rows="3">{{evaluation.comments}}</textarea>
				<br>
			</div>

		</div>
	</div>
{% endblock %}