{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<div class="container">
		<div class="row">
			<input type='text' name="{{evaluation.id}}" disabled placeholder="Sujet d'observation" value="{{evaluation.subject}}"/>
			<table class="table table-striped">
				<thead>
					<td>Numéro de la compétence</td>
					<td>Nom de la sous-compétence</td>
					<td>Cotation</td>
				</thead>

				<tbody>
					{% for cotation in cotations %}
						{% set index = 0 %}
						<tr>
							{% if index != 0 %}
								<tr>
								{% endif %}
								<td rowspan={{cotation.subskillcotation|length}}>C{{cotation.skill.skillNumber}}
									:
									{{cotation.skill.name}}</td>
								{% for subcotation in cotation.subskillcotation %}
									{% set index = loop.index %}
									<td>{{subcotation.subskill.name}}</td>


									<td>
										{% if subcotation.cotation == 1 %}
											NA--
										{% else %}
											{% if subcotation.cotation == 2 %}
												NA-
											{% else %}
												{% if subcotation.cotation == 3 %}
													A+
												{% else %}
													A++
												{% endif %}
											{% endif %}
										{% endif %}
									</td>
									{% if index != cotation.subskillcotation|length %}
									</tr>
								{% endif %}
							{% endfor %}
						</tr>
						<tr>
							<td colspan="3">Commentaire :
								{% if cotation.comments == "" or cotation.comments == null %}
									Pas de commentaire pour cette compétence.
								{% endif %}
								{{cotation.comments}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="form-group green-border-focus">
				<label for="exampleFormControlTextarea5">Commentaire Global</label>
				<textarea disabled class="form-control" name="{{evaluation.id}}" rows="3">{{evaluation.comments}}</textarea>
				<br>
			</div>
			{{form_start(form)}}
			{{form_end(form)}}

		</div>
	</div>
{% endblock %}