{% extends 'base.html.twig' %}

{% block title %}Liste des stages
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste de stages</h1>
		<table class="table table-striped">
			<thead>
				<td>Lieu</td>
				<td>Section / sous-section</td>
				<td>Bloc</td>
				<td>Début de stage - Fin de stage</td>
				<td>Année académique</td>
				<td>Acceder aux étudiants</td>
			</thead>
			<tbody>

				{% for intership in interships %}
					<tr>
						{% if intership.applicationField.parent.type != "sub_section" %}

							<td>{{intership.applicationField.parent.parent.name}}</td>
							<td>
								{{intership.applicationField.parent.name}}</td>
						{% else %}
							<td>{{intership.applicationField.parent.parent.parent.parent.parent.name}}</td>
							<td>{{intership.applicationField.parent.parent.parent.parent.name}}</td>

							<td>{{intership.applicationField.parent.parent.parent.name}}</td>
							<td>{{intership.applicationField.parent.parent.name}}
								/
								{{intership.applicationField.parent.name}}</td>

						{% endif %}
						<td>{{intership.applicationField.name}}</td>
						<td>{{intership.firstDay | date("d/m/Y")}}
							-
							{{intership.lastDay | date("d/m/Y") }}</td>
						<td>{{intership.ansco}}</td>
						<td>
							<a class="btn btn-success" href="{{path('viewEvaluation',{'id':intership.id})}}">Acceder aux étudiants</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<a class="btn btn-warning" href="{{path('createIntership')}}">creer un stage</a>
</div>{% endblock %}