{% extends 'base.html.twig' %}

{% block title %}Évaluation de
	{{evaluation.evaluations[0].cotation[0].user.lastname}}
	{{evaluation.evaluations[0].cotation[0].user.firstname}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<h1>
				<u>
					Évaluation de
					{{evaluation.evaluations[0].cotation[0].user.lastname}}
					{{evaluation.evaluations[0].cotation[0].user.firstname}}
				</u>
			</h1>

<h2>Année académique :
{{evaluation.evaluations[0].cotation[0].intership.ansco}}</h2><br>
				
			
                    {% for skill in skills%}
<h2>{{skill.name}}</h2>

<h2>Cote Compétence : {% for globalEvaluationSkill in evaluation.globalEvaluationSkill %}
                                {% if globalEvaluationSkill.skill == skill %}
                                
                                    <select name="cotation"class="form-select form-select-lg mb-3" id="{{globalEvaluationSkill.id}}" aria-label="form-select-lg example">

										<option {% if globalEvaluationSkill.cotation == 0 %} selected="selected" {% endif %} disabled value="0">Évaluer la compétence</option>
										<option {% if globalEvaluationSkill.cotation == 1 %} selected="selected" {% endif %} value="1">Non Acquis</option>
										<option {% if globalEvaluationSkill.cotation == 2 %} selected="selected" {% endif %} value="2">En phase d'évaluation</option>
										<option {% if globalEvaluationSkill.cotation == 3 %} selected="selected" {% endif %} value="3">Acquis</option>
									</select>
                                    {% endif %}
                                {% endfor %}</h2>

				<table class="table table-striped">
					<thead>
						<td>Numéro de la compétence / sous-compétence</td>
						<td>Nom de la compétence / sous-compétence</td>
						<td>NA--</td>
                        <td>NA-</td>
                        <td>A+</td>
                        <td>A++</td>
					</thead>

					<tbody>
                        
				        {% for subskill in skill.subskills %}
							<tr>

								<td>{{skill.skillNumber}}.{{subskill.number}}</td>
								<td>
									{{subskill.name}}</td>


								<td>
                                {% for evaluationItem in evaluation.evaluations %}
                                    {% for cotationItem in evaluationItem.cotation%}
                                        {% for subcotationItem in cotationItem.subskillcotation %}
                                                {% if subskill == subcotationItem.subskill %}
                                                
                                                    {% if subcotationItem.cotation == 1 %}
                                                        {{evaluationItem.user.lastname}} {{evaluationItem.user.firstname}}<br>
                                                    {% endif %}{% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
								</td>
                                <td>
                                {% for evaluationItem in evaluation.evaluations %}
                                    {% for cotationItem in evaluationItem.cotation%}
                                        {% for subcotationItem in cotationItem.subskillcotation %}
                                                {% if subskill == subcotationItem.subskill %}
                                                
                                                    {% if subcotationItem.cotation == 2 %}
                                                        {{evaluationItem.user.lastname}} {{evaluationItem.user.firstname}}<br>
                                                    {% endif %}{% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
								</td>
                                <td>
                                {% for evaluationItem in evaluation.evaluations %}
                                    {% for cotationItem in evaluationItem.cotation%}
                                        {% for subcotationItem in cotationItem.subskillcotation %}
                                                {% if subskill == subcotationItem.subskill %}
                                                
                                                    {% if subcotationItem.cotation == 3 %}
                                                        {{evaluationItem.user.lastname}} {{evaluationItem.user.firstname}}<br>
                                                    {% endif %}{% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
								</td>
                                <td>
                                {% for evaluationItem in evaluation.evaluations %}
                                    {% for cotationItem in evaluationItem.cotation%}
                                        {% for subcotationItem in cotationItem.subskillcotation %}
                                                {% if subskill == subcotationItem.subskill %}
                                                
                                                    {% if subcotationItem.cotation == 4 %}
                                                        {{evaluationItem.user.lastname}} {{evaluationItem.user.firstname}}<br>
                                                    {% endif %}{% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
								</td> <td>
                                

            </td>
							</tr>
						{% endfor %}
           
					</tbody>
				</table>
                <div class="form-group green-border-focus">
				<table class="table table-striped">
                <thead>
						<td>Commentaire Compétence</td>
						
					</thead>
                <tbody>
                <td>
                {% set hasComments = 0 %}
                {% for evaluationItem in evaluation.evaluations %}

                                    {% for cotationItem in evaluationItem.cotation%}
                                               
                                                
                                                    {% if cotationItem.skill == skill %}
                                                       {% if cotationItem.comments != null %}
                                                           Mr/Mme {{evaluationItem.user.lastName}} {{evaluationItem.user.firstname}} : {{cotationItem.comments}}</br>
                                                            {% set hasComments = 1 %}
                                                       {% endif %}
                                                       
                                                    {% endif %}
                                        {% endfor %}
                                {% endfor %}
                                {% if hasComments == 0 %}
                                Aucun commentaire pour cette compétence{% endif %}
                                
                                </td></tbody>

                                </table>
				<br>
			</div>
			{% endfor %}
				<br>
				

					
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}<script>

		$(document).ready(function () { // When you change your cotation
$("select[name='cotation']").each(function () {
$(this).change(function () {
var subcotation = $(this).attr('id')
var cotation = $(this).children("option:selected").val()
$.ajax({
url: "/globalEvaluation",
type: 'get',
data: {
'evaluation': subcotation,
'cotation': cotation
},
cache: false,
datatype: 'json',
success: function (data, status) {},
error: function () {}
});

})
})


})
	</script>
{% endblock %}