{% extends 'base.html.twig' %}

{% block title %}Liste des stages
{% endblock %}

{% block body %}
	


	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste de stages</h1>
		<table class="table table-striped">
			<thead>
				<td>Lieu</td>
				<td>Section / sous-section</td>
				<td>Bloc</td>
				<td>Année académique</td>
				<td>Consulter les étudiants</td>
			</thead>
			<tbody>

				{% for intership in interships %}
					<tr>
						{% if intership.applicationField.parent.type != "sub_section" %}

							<td>{{intership.applicationField.parent.parent.name}}</td>
							<td>
								{{intership.applicationField.parent.name}}</td>
						{% else %}
							<td>{{intership.applicationField.parent.parent.parent.parent.parent.name}}</td>
							
							<td>{{intership.applicationField.parent.parent.parent.name}}</td>
							<td>{{intership.applicationField.parent.parent.name}}
								/
								{{intership.applicationField.parent.name}}</td>

						{% endif %}
						<td>{{intership.applicationField.name}}</td>
						<td>{{intership.ansco}}</td>
						<td>
							<a class="btn btn-success" href="{{path('viewReferentStudentEvaluation',{'id':intership.id})}}">Consulter la liste des étudiants</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>{% endblock %}