{% extends 'base.html.twig' %}

{% block title %}
	listes compétence
{% endblock %}
{% block body %}
	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste de compétences</div>
	</div>
	<table class="table table-striped">
		<thead>
			<td>Nom de compétence</td>
			<td>Section</td>
			<td>Numéro de compétence</td>
			<td>Nombre de sous-compétences</td>
			<td>Voir les sous-compétences</td>
			<td>Modifier la compétence</td>
			<td>Supprimer la compétence</td>
		</thead>

		<tbody>
			{% for skill in skills%}
				<tr>
					<td>{{skill.name}}</td>
					<td>{{skill.section}}</td>
					<td>{{skill.skillNumber}}</td>
					<td>{{skill.subSkills|length}}</td>
					<td>
						<a class="btn btn-secondary" href="{{path('accueilSubSkill',{'id' : skill.id})}}">
							voir la liste des sous-compétence
						</a>
					</td>
					<td>
						<a class="btn btn-warning" href="{{path('updateSkill',{'id':skill.id})}}">
							Modifier
						</a>
					</td>
					<td>
						<a class='btn btn-danger' href="{{path('deleteSkill',{'id':skill.id})}}">
							Supprimer compétence
						</a>
					</td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
	<a class="btn btn-warning" href="{{path('createSkill')}}">creer une compétence</a>
{% endblock %}