{% extends 'base.html.twig' %}

{% block title %}
	Création skill et subskill
{% endblock %}
{% block body %}

	<div class="container">
		<div class="row">
			{{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class': 'col-lg-5' 
                    }
                })
            }}

			{{ form_start(form) }}
			Nom de la compétence :
			{{ form_widget(form.name)}}
			Numéro de Compétence :
			{{ form_widget(form.skillNumber)}}
			Section :
			{{ form_widget(form.section)}}
			Commentaire :
			{{ form_widget(form.comments)}}


			<button type="submit" class="btn btn-success">
				mettre à jour la compétence
			</button>
			{{ form_end(form)}}
		</div>
		<div class="row">
			<div class="col"><br>
				<hr>
				<a class="btn btn-secondary" href="{{path('accueilSkill')}}">
					Revenir à la liste de compétences
				</a>
			</div>
		</div>
	</div>


{% endblock %}