<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Projet Stage
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
				<script>

		$(document).ready(function () { // When you change your position
$("select[name='position']").each(function () {
$(this).change(function () {
var evaluation = $(this).attr('id')
var position = $(this).children("option:selected").val()
$.ajax({
url: "/position",
type: 'get',
data: {
'evaluation': evaluation,
'position': position
},
cache: false,
datatype: 'json',
success: function (data, status) {},
error: function () {}
});
})
})

$("input").each(function(){
	$(this).change(function(){
		var evaluation = $(this).attr('name')
		var cotation = $(this).val()
		$.ajax({
			url: "/cotation/final",
type: 'get',
data: {
'evaluation': evaluation,
'cote': cotation
},
cache: false,
datatype: 'json',
success: function (data, status) {},
error: function () {}
		})
	})
})
		})

</script>

		{% endblock %}
	</head>
	<body>
		<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
				helha</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					{% if app.user %}<a class="nav-link" href="{{path('app_logout')}}">
						Sign out</a>
						{% else %}
							<a class="nav-link" href="{{path('app_login')}}">
						Sign in</a>
							{% endif %}
					
				</li>
			</ul>
		</header>
		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="position-sticky	pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{path('accueilSkill')}}">
									<span data-feather="home"></span>
									Compétences
								</a>
								<a class="nav-link active" aria-current="page" href="{{path('userList')}}">
									<span data-feather="home"></span>
									Utilisateurs
								</a>
								<a class="nav-link active" aria-current="page" href="{{path('intership')}}">
									<span data-feather="home"></span>
									Stages
								</a>
								{% if is_granted('ROLE_TEACHER') %}
								
								<a class="nav-link active" aria-current="page" href="{{path('viewEvaluationIntership')}}">
									<span data-feather="home"></span>
									Evaluation
								</a>
								{% endif %}
								
								{% if is_granted('ROLE_STUDENT') %}
								<a class="nav-link active" aria-current="page" href="{{path('studentEvaluationIntership')}}">
									<span data-feather="home"></span>
									Evaluation
								</a>
								<a class="nav-link active" aria-current="page" href="{{path('consultationStudent')}}">
									<span data-feather="home"></span>
									Consultation
								</a>
								{% endif %}
								{% if is_granted('ROLE_REFERENT') %}
								<a class="nav-link active" aria-current="page" href="{{path('viewReferentEvaluation')}}">
									<span data-feather="home"></span>
									Evaluation (Référent)
								</a>
								{% endif %}

								{% if is_granted('ROLE_SECRETARIAT') %}
								<a class="btn btn-success" aria-current="page" href="{{path('index')}}">Partager les évaluations globales</a>
								{% endif %}
								
							</li>

						</ul>

						{% if app.request.get('_route') == "listEvaluation" %}

							Quelle est la position de l'évaluation?
							<select class="form-select form-select-lg mb-3" id="{{evaluation.id}}" aria-label="form-select-lg example">

										<option {% if evaluation.position == '' %} selected="selected" {% endif %} disabled value="">Position de l'évaluation</option>
										<option {% if evaluation.position == 'Préparation de stage' %} selected="selected" {% endif %} value="Préparation de stage">Préparation de stage</option>
										<option {% if evaluation.position == 'Rencontre' %} selected="selected" {% endif %} value="Rencontre">Rencontre</option>
										<option {% if evaluation.position == 'Rapport' %} selected="selected" {% endif %} value="Rapport">Rapport</option>
										<option {% if evaluation.position == 'Après stage' %} selected="selected" {% endif %} value="Après stage">Après stage</option>
									</select>
							<a class="btn btn-success" href="{{path('endEvaluation',{'id':evaluation.id})}}">Clôturer l'évaluation</a>
							{% endif %}
							{% if app.request.get('_route') == "viewStudentEvaluation" %}
							<a class="btn btn-success" href="{{path('sendMailToStudent',{'id':evaluation.id})}}"> Envoyer un mail à l'étudiant</a>
							<a class="btn btn-success" href="{{path('viewCloturedEvaluation',{'id':evaluation.cotation[0].intership.id})}}">Retourner à la page précédente</a>
							{% endif %}

							{% if app.request.get('_route') == "autoEvaluation" %}
							Quelle est la position de l'auto-évaluation?
							<select name='position'class="form-select form-select-lg mb-3" id="{{evaluation.id}}" aria-label="form-select-lg example">

										<option {% if evaluation.position == '' %} selected="selected" {% endif %} disabled value="">Position de l'évaluation</option>
										<option {% if evaluation.position == 'Préparation de stage' %} selected="selected" {% endif %} value="Préparation de stage">Préparation de stage</option>
										<option {% if evaluation.position == 'Rencontre' %} selected="selected" {% endif %} value="Rencontre">Rencontre</option>
										<option {% if evaluation.position == 'Rapport' %} selected="selected" {% endif %} value="Rapport">Rapport</option>
										<option {% if evaluation.position == 'Après stage' %} selected="selected" {% endif %} value="Après stage">Après stage</option>
									</select>
							<a class="btn btn-success" href="{{path('endAutoEvaluation',{'id':evaluation.id})}}">Clôturer l'auto-évaluation</a>
							{% endif %}

							{% if app.request.get('_route') == "viewGlobalEvaluation" %}

							Quelle est la note finale à attribuer de l'évaluation?
							
<input type='text' id="finaleCotation" name="{{evaluation.id}}" placeholder="Note finale" value="{{evaluation.finalCotation}}"/>
							<a class="btn btn-success" href="{{path('endFinalEvaluation',{'id':evaluation.id})}}">Clôturer l'évaluation</a>
							{% endif %}
							
								
						
					</div>

				</nav>
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					{% for message in app.flashes("success") %}
						<div class="alert alert-success">{{message}}</div>
					{% endfor %}
					{% for message in app.flashes("danger") %}
						<div class="alert alert-danger">
							{{message}}
						</div>
					{% endfor %}
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3  border-bottom"> {% block body %}{% endblock %}
						</div>

					</main>
				</div>
			</div>
		</body>
	</html>

	